.todo__item-box {
  display: flex;
  justify-content: left;
  gap: 30px;
}

.mat-mdc-card-actions-align-end {
  justify-content: space-between;
}

mat-card {
  margin-bottom: 20px;
}

.mat-mdc-card-header {
  margin-bottom: 20px;
}
